@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  margin: -50px auto;
  max-width: 1000px;
  font-family: 'Indie Flower', cursive;
  line-height: 0.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
  background-color: #9E2121;
}

h1 {
  color: black;
  font-size: 13pt;
}

h2{
  color: white;
  font-size: 13pt;
}

h3{
  color: black; font-size: 40pt;
}

a {
color: #69CBBB;
text-decoration: none;
} <br> <br>
